# Archivos de log
*.log

# Archivos compilados de Java y paquetes
*.jar
*.war
*.ear
*.class
target/

# Excepción para el wrapper de Maven, que sí debe estar en el repo
!/.mvn/wrapper/maven-wrapper.jar

# ===============================================================
# Archivos de configuración de IDEs
# ===============================================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Archivos del sistema operativo
.DS_Store

# Eclipse / STS
.apt_generated
.classpath
.project
.factorypath
.springBeans
.settings/
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ===============================================================
# Archivos específicos del Sistema Operativo
# ===============================================================
.DS_Store

# ===============================================================
# Ignorar archivos de propiedades con secretos
# ===============================================================
# Archivo de variables de entorno para Docker (CORREGIDO: sin espacio al principio)
.env

# Archivos de propiedades locales o con secretos
/src/main/resources/application.properties
/src/main/resources/application-local.properties
/src/main/resources/application-docker.properties

# El archivo HELP.md se está ignorando. Si debe estar en el repositorio, elimina la siguiente línea.
HELP.md